<div class="body-padding">
  <div class="titles">
    <p>Log In</p>
  </div>

  <div class="body">
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur.
      </p>
    </div>

    <form
      class="row gy-2 gx-3 align-items-center"
      action="/auth/login"
      method="POST"
    >
      <div class="col-sm-5">
        <label for="exampleInputEmail1" class="form-label">Email</label>
        <input
          type="email"
          name="email"
          class="form-control"
          aria-describedby="emailHelp"
        />
      </div>

      <div class="col-sm-5">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" name="password" class="form-control" />
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-bd-third">Entrar</button>
      </div>
    </form>
  </div>

  {{#if errorMessage}}
    {{errorMessage}}
  {{/if}}

</div>

<footer class="navbar navbar-expand-lg" style="background-color: #B609DE">
  <div class="container p-4">

    <div class="row">

      <div
        class="col-lg-6 col-md-12 mb-4 mb-md-0 footer-body"
        style="color: white"
      >
        <h6 class="text-uppercase" style="color: white">Tochido</h6>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque
          ea quis molestias. Fugiat pariatur maxime quis culpa corporis vitae
          repudiandae aliquam voluptatem veniam, est atque cumque eum delectus
          sint!
        </p>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h6 class="text-uppercase" style="color: white"><center>Ciudad de México
            <br />
            México, 010000</center>
        </h6>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <a class="btn btn-floating m-1" href="#!" role="button"><img
            src="/images/facebook-app-symbol.png"
            alt=""
            width="30"
            height="30"
          /></a>

        <a class="btn btn-floating m-1" href="#!" role="button"><i
            class="fab fa-instagram"
          ><img
              src="/images/instagram.png"
              alt=""
              width="30"
              height="30"
            /></i></a>
        <h6
          class="text-uppercase"
          style="color: white"
        >elcorreo@gmail.com</h6><br />
        <a class="text-uppercase" style="color: white" href="#!">Aviso de
          Privacidad</a>

      </div>
    </div>
  </div>
</footer>