<form action="/auth/signup" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <label> Email
      <input type="email" name="email">
   </label>

   <label for="account">
      <select name="account" id="type">
         <option value="League">League</option>
         <option value="Team">Team</option>
         <option value="Player">Player</option>
      </select>
   </label>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}