<form action="/auth/signup" method="POST">
   <label> Name
      <input type="text" name="name">
   </label>
   <label> Surname
      <input type="text" name="surname">
   </label>
   <label> Email
      <input type="email" name="email">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>
   <label for="role">
      <select name="role">
         <option value="Admin">Admin/League</option>
         <option value="Coach">Coach/Team</option>
         <option value="Player">Player</option>
      </select>
   </label>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}