<h1>League {{league.name}} View</h1>
<h3>Your Id : {{league.id}}</h3>

<a href="/league/mainLeague/{{user._id}}/add-team"><button>Teams</button></a>
<a href="/auth/logout"><button>Log Out</button></a>