<h1>Comunicados de tu liga {{league.league_name}}</h1>

<h2>Nuevo Comunicado</h2>

<form action="/league/mainLeague/warning/{{id}}" method="POST">
    <div class="col-sm-5">
      <label for="exampleInputEmail1" class="form-label">Encabezado</label>
      <input type="text" name="header" class="form-control" placeholder="Titulo"/>
    </div>

    <div class="col-sm-5">
      <label for="exampleInputEmail1" class="form-label">Comunicado</label><br>
      <textarea name="text" rows="10" cols="40">Comunicado..</textarea>
    </div>

    <button type="submit">Crear</button>
</form>

<h2>Tus Comunicados Actuales</h2>

{{#each league.0._warning}}
    <li>{{this.header}}</li>
    <div class="col col-lg-2">
        <a type="button" class="btn btn-bd-fourth" href="/league/mainLeague/warning/{{this._id}}/delete">Eliminar</a>
    </div>
{{/each}}