
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>

   
{{#if user}}
<nav class="navbar fixed-top navbar-expand-lg" style="background-color: #B609DE">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <div class="nav-item">
          <a class="nav-link active" style="color: white" aria-current="page">¡Hola {{user.name}}!</a>
          </div>

        <li class="nav-item">
          <a class="nav-link active" style="color: #29DBE6" aria-current="page" href="#MyLeague">Mi Perfil</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" style="color: #29DBE6" aria-current="page" href="#Results">Alineaciones</a>
        </li>

    </div>
   

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a type="button" class="btn btn-bd-primary" href="/auth/logout">Log Out</a>
 </div>
  </div>


{{else}}

<nav class="navbar fixed-top navbar-expand-lg" style="background-color: #B609DE">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" style="color: white" aria-current="page" href="#MyLeague">Mi Liga</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" style="color: white" aria-current="page" href="#Results">Resultados</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" style="color: white" aria-current="page" href="#Calendar">Calendario de Partidos</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" style="color: white" aria-current="page" href="#Announcements">Comunicados</a>
        </li>
    </div>
  
  
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a type="button" class="btn btn-bd-primary" href="/auth/login">Log In</a>
  <a class="btn btn-bd-secondary" type="button" href="/auth/signup">Sign up</a>
 </div>
   </div>
 {{/if}}

</nav>

    
    
    {{{body}}}




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>