<form action="/team/edit-team" method="POST">
   <label> Team Name
      <input type="text" name="team_name">
   </label>
   <label> Team Logo
      <input type="text" name="team_logo">
   </label>
   <button type="submit">Submit</button>
</form>
