<div class="body-padding">
  <div class="titles">
    <p>Alineaciones de {{team.0.team_name}} </p>
  </div>

  <div
    class="gallery js-flickity"
    data-flickity-options='{ "wrapAround": true }'
  >
    <div class="gallery-lineups">
      <div class="col-sm-5">
        <img src="/images/jugadas-01.png" alt="..." height="480" />
      </div>
      <div class="gallery-text">
        <p><b>"Twins Left Draw Right"</b></p><br />
        <p>QB retrocede para pasar y luego se retira</p>
      </div>
    </div>

    <div class="gallery-lineups">
      <div class="col-sm-5">
        <img src="/images/jugadas-02.png" alt="..." height="480" />
      </div>
      <div class="gallery-text">
        <p><b>"Trips Right Pass"</b></p><br />
        <p>QB gira a la derecha y centra al receptor primario</p>
      </div>
    </div>

    <div class="gallery-lineups">
      <div class="col-sm-5">
        <img src="/images/jugadas-03.png" alt="..." height="480" />
      </div>
      <div class="gallery-text">
        <p><b>"Trips Right Run"</b></p><br />
      </div>
    </div>

    <div class="gallery-lineups">
      <div class="col-sm-5">
        <img src="/images/jugadas-04.png" alt="..." height="480" />
      </div>
      <div class="gallery-text">
        <p><b>"Split T Pass"</b></p><br />
      </div>
    </div>

    <div class="gallery-lineups">
      <div class="col-sm-5">
        <img src="/images/jugadas-05.png" alt="..." height="480" />
      </div>
      <div class="gallery-text">
        <p><b>"Trips Left Run"</b></p><br />
      </div>
    </div>

  </div>
  <div class="body">
    <div class="col-sm-5 space">
      <label for="country" class="form-label"><b>Jugadas</b></label>
      <select multiple class="form-select" aria-label="Default select example">
        <option value="MX">Twins Left Draw Right</option>
        <option value="ALE">Trips Right Pass</option>
        <option value="ITA">Trips Right Run</option>
        <option value="EEUU">Split T Pass</option>
        <option value="CAN">Trips Left Run</option>
      </select>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <a type="button" class="btn btn-bd-fourth" href="#">Crear Playbook</a>
          <a type="button" class="btn btn-bd-fourth" href="#">Ver Playbook</a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer-style" style="background-color: #B609DE">
  <div class="container">

    <div class="row">

      <div class="col footer-body" style="color: white">
        <h6 class="text-uppercase" style="color: white">Tochido</h6>

        <p>
          Tochido es la app #1 en Latinoamérica que facilita
          <br />
          la administración local de Ligas de Tocho.
          <br />
          Centraliza la infrmación de tu liga, equipos y jugadores
          <br />
          en esta app fácil e intuitiva de usar.
        </p>
      </div>

      <div class="col">
        <h6 class="text-uppercase" style="color: white"><center>Ciudad de México
            <br />
            México, 010000</center>
        </h6>
      </div>

      <div class="col">

        <a class="btn btn-floating" href="#!" role="button"><img
            src="/images/facebook-app-symbol.png"
            alt=""
            width="30"
            height="30"
          /></a>

        <a class="btn btn-floating" href="#!" role="button"><i
            class="fab fa-instagram"
          ><img
              src="/images/instagram.png"
              alt=""
              width="30"
              height="30"
            /></i></a>
        <h6
          class="text-uppercase"
          style="color: white"
        >elcorreo@gmail.com</h6><br />
        <a class="text-uppercase" style="color: white" href="#!">Aviso de
          Privacidad</a>

      </div>
    </div>
  </div>
</footer>