<div class="body-padding">
  <div class="titles">
    <p>Jugadas disponibles {{team.0.team_name}} </p>
  </div>

  <div
    class="gallery js-flickity"
    data-flickity-options='{ "wrapAround": true }'
  >
    <div class="gallery-lineups">
      <div class="col-sm-5">
        <img src="/images/jugadas-01.png" alt="..." height="480" />
      </div>
      <div class="gallery-text">
        <p><b>"Twins Left Draw Right"</b></p><br />
        <p>QB retrocede para pasar y luego se retira</p>
      </div>
    </div>

    <div class="gallery-lineups">
      <div class="col-sm-5">
        <img src="/images/jugadas-02.png" alt="..." height="480" />
      </div>
      <div class="gallery-text">
        <p><b>"Trips Right Pass"</b></p><br />
        <p>QB gira a la derecha y centra al receptor primario</p>
      </div>
    </div>

    <div class="gallery-lineups">
      <div class="col-sm-5">
        <img src="/images/jugadas-03.png" alt="..." height="480" />
      </div>
      <div class="gallery-text">
        <p><b>"Trips Right Run"</b></p><br />
        <p>QB en posicion abierta, entrega balon a QB2, pase largo</p>
      </div>
    </div>

    <div class="gallery-lineups">
      <div class="col-sm-5">
        <img src="/images/jugadas-04.png" alt="..." height="480" />
      </div>
      <div class="gallery-text">
        <p><b>"Split T Pass"</b></p><br />
        <p>QB entrega balon a RB, carrera por outside zone</p>
      </div>
    </div>

    <div class="gallery-lineups">
      <div class="col-sm-5">
        <img src="/images/jugadas-05.png" alt="..." height="480" />
      </div>
      <div class="gallery-text">
        <p><b>"Trips Left Run"</b></p><br />
        <p>QB finta entrega de balon a RB, pase a las bandas</p>
      </div>
    </div>

  </div>
  <div class="body">
    <div class="col-sm-5 space">
    <form action="/team/mainTeam/{{id}}/lineup" method="post">
    <label for="play" class="form-label"><b>Jugadas<br> crtl + select para seleccionar las jugadas que te interesan </b></label>
      <select multiple class="form-select" name="play" aria-label="Default select example">
        <option value="/images/jugadas-01.png">Twins Left Draw Right</option>
        <option value="/images/jugadas-02.png">Trips Right Pass</option>
        <option value="/images/jugadas-03.png">Trips Right Run</option>
        <option value="/images/jugadas-04.png">Split T Pass</option>
        <option value="/images/jugadas-05.png">Trips Left Run</option>
      </select>
      <div class="col">
          <button type="submit" class="btn btn-bd-fourth">Crear Playbook</button>
        </div>
    </form>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <a type="button" class="btn btn-bd-first" href="/team/mainTeam/{{id}}/lineup/watch">Ver Playbook</a>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer-style" style="background-color: #B609DE">
  <div class="container">

    <div class="row">

      <div class="col footer-body" style="color: white">
        <h6 class="text-uppercase" style="color: white">Tochido</h6>

        <p>
          Tochido es la app #1 en Latinoamérica que facilita
          <br />
          la administración local de Ligas de Tocho.
          <br />
          Centraliza la infrmación de tu liga, equipos y jugadores
          <br />
          en esta app fácil e intuitiva de usar.
        </p>
      </div>

      <div class="col">
        <h6 class="text-uppercase" style="color: white"><center>Ciudad de México
            <br />
            México, 010000</center>
        </h6>
      </div>

      <div class="col">

        <a class="btn btn-floating" href="#!" role="button"><img
            src="/images/facebook-app-symbol.png"
            alt=""
            width="30"
            height="30"
          /></a>

        <a class="btn btn-floating" href="#!" role="button"><i
            class="fab fa-instagram"
          ><img
              src="/images/instagram.png"
              alt=""
              width="30"
              height="30"
            /></i></a>
        <h6
          class="text-uppercase"
          style="color: white"
        >elcorreo@gmail.com</h6><br />
        <a class="text-uppercase" style="color: white" href="#!">Aviso de
          Privacidad</a>

      </div>
    </div>
  </div>
</footer>