<h1>Insert Team's Id to add</h1>

<form action="/player/mainPlayer/{{id}}/add-team" method="POST">
   <label> Team Id
      <input type="text" name="team_id">
   </label>
   <button type="submit">Submit</button>
</form>

