<div class="body-home-padding">

  <div class="titles" id="MyLeague">
    <p>Mi Perfil</p>
  </div>
</div>

//////////////////////////////////
<h1>Player View</h1>

<a href="/player/mainPlayer/{{id}}/add-team"><button>Add Team</button></a>
<a href="/auth/logout"><button>Log Out</button></a>